.box {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;

  .item {


    @for $i from 1 to 9 {
      &:nth-child(#{$i}) {
        transform: translateY(($i - 1)*100%);
      }
    }

    position: absolute;

    video {
      width: 100vw;
      height: 100vh;
    }
  }
}

.mask {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
  img{
    color: white;
    opacity:1;
    width: 50px;
    height: auto;
  }
}